# ======================
# Archivos de Android Studio / IntelliJ
# ======================
*.iml
.idea/
.idea/caches/
.idea/libraries/
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
.idea/gradle.xml
.idea/misc.xml
.idea/compiler.xml

# ======================
# VS Code
# ======================
.vscode/
.history/
*.code-workspace

# ======================
# Gradle
# ======================
.gradle/
build/
*/build/
captures/
.externalNativeBuild/
.cxx/
.kotlinc/
.gradle-cache/
.gradle-local/

# ======================
# Archivos locales
# ======================
local.properties
*.keystore
*.jks
*.gradle.kts.backup
*.gradle.kts.tmp

# ======================
# Archivos de sistema
# ======================
.DS_Store
Thumbs.db
ehthumbs.db
desktop.ini

# ======================
# Logs y reportes
# ======================
*.log
*.hprof
*.stacktrace
hs_err_pid*
replay_pid*

# ======================
# Test / Coverage
# ======================
coverage/
test-results/
*.ec
*.exec
jacoco.exec

# ======================
# Archivos generados por Android
# ======================
app/release/
app/debug/
outputs/
*.apk
*.ap_
*.aab
*.dex
*.class

# ======================
# Cache de compilación
# ======================
/intermediates/
/generated/
/out/

# ======================
# Archivos temporales
# ======================
*.swp
*.tmp
*.temp
*~
